<h1 style="text-align: center; color: whitesmoke;">Word Generator App</h1>
<div class="container w-50 mt-5 text-center ">
  <div class="text-center m-3 text-white"><p style="font-size: 30px;"> Word limit: {{limit}}</p></div>
  

  <input type="range" class="slider form-control-range" min="1" max="50" value="{{limit}}" (change) = "handleSlideChange($event.target.value)"/>
  <button class="btn btn-primary" (click)="generateWords()">Generate words</button>
  <div class="card card-body" *ngIf= "words">
    <p class="display-4">{{words}}</p>
  </div>
  
</div>

